<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Fixed Row Height</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.js"></script>
  <script src="../../dist/ui-scroll.js"></script>
  <script src="fixedRowHeight.js"></script>
  <link rel="stylesheet" href="../css/style.css" type="text/css" />
</head>

<body ng-app="application">

  <div class="cont cont-global" ng-controller="MainCtrl">

    <a class="back" href="../index.html">browse other examples</a>

    <h1 class="page-header page-header-exapmle">Fixed Row Height</h1>

    <div class="description">
      <p>
        If the height of all the viewport rows is known and not going to be changed,
        it might be passed as "row-height" attribute.
        This reduces inner calculations and browser reflows,
        which leads to a performance increase.
      </p>
    </div>

    <div class="actions">
      <input ng-model="perfSlowCount" size="4" /> performance decrease coefficient (0 - fastest)
    </div>

    <div class="viewport" ui-scroll-viewport style="height: 500px">
      <div ui-scroll="item in datasource" start-index="0"  buffer-size="5" padding="0.3" row-height="25" allow-visibility-watch="false" adapter="adapter">
          <div>
            {{item}}
          <span ng-repeat="value in item">
            {{value}}
          </span>
        </div>
      </div>
    </div>
  </div>

</body>

</html>