language: node_js

node_js:
- '10.12.0'

addons:
  firefox: latest

before_install:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start

before_script:
- npm install

script:
- npm run build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_token
  local_dir: demo
  on:
    branch: master
