<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Grid</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
	<script src="../../src/ui-scroll.js"></script>
	<script src="../../src/ui-scroll-grid.js"></script>
	<script src="../../src/ui-scroll-jqlite.js"></script>
    <script src="grid.js" ></script>
	<link rel="stylesheet" href="../../demo/css/style.css" type="text/css"/>
	<link rel="stylesheet" href="grid.css" type="text/css"/>
</head>
<body ng-controller="mainController" ng-app="application">

	<div class="cont cont-global">

		<a class="back" href="../index.html">browse other examples</a>

		<h1 class="page-header page-header-exapmle">Datasource on scope (not as service)</h1>

		<div class="description">
			Per documentation the datasource object can be defined in two different ways.

			<div class="code">
				<pre>&lt;li ui-scroll="item in datasource"&gt;{{item}<!---->}&lt;/li&gt;</pre>
			</div>

			And the directive will first look for a property with the given name (datasource) on its $scope.
			So to use scope-approach you need to declare <i>datasource</i> object on scope of your controller and define method <i>get</i> on it.

			<div class="code">
				<pre>
angular.module('application', ['ui.scroll', 'ui.scroll.jqlite']).controller('mainController', ...

	$scope.datasource = {}
	$scope.datasource.get = function...</pre>
			</div>
		</div>
		<button ng-click="expand()">Expand</button></span>
		<button ng-click="collapse()">Collapse</button></span>
		<button ng-click="getLayout()">Save</button></span>
		<button ng-click="applyLayout()">Restore</button></span>
		<table id="viewport-scopeDatasource" class="viewport" ui-scroll-viewport>
			<thead style="display:block">
				<tr>
					<th ui-scroll-th class="col1">col1</th>
					<th ui-scroll-th class="col2">col2</th>
				</tr>
			</thead>
			<tbody>
				<tr class="item" ui-scroll="item in datasource" adapter="adapter">
					<td ui-scroll-td class="col1">{{item.col1}}
					<!-- <input type="text", ng-model="text">{{text}} -->
					</td>
					<td ui-scroll-td class="col2">{{item.col2}}</td>
				</tr>
			</tbody>
		</table>

	</div>

</body>
</html>